<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Simple HttpErrorPages | MIT X11 License | https://github.com/AndiDittrich/HttpErrorPages -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>Bienvenido</title>
</head>

<body>
  <div class="cover">
    
    <p class="lead">¡ {{usuario}} !</p>
    <p class="lead">¡ {{rol}} !</p>
  </div>

</body>

</html>
