<form class="example-container" [formGroup]="form" (ngSubmit)="operar()"  #espForm="ngForm">

  <div [hidden]="true">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="ID" required formControlName="id">
    </mat-form-field>
  </div>
  <mat-form-field>
    <mat-select placeholder="Paciente" [(value)]="idPacienteSeleccionado">
      <mat-option *ngFor="let p of pacientes" [value]="p.idpaciente">
        {{p.nombres}} {{p.apellidos}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Escoge una fecha"  [(ngModel)]="fecha" formControlName="fecha">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Temperatura" required [(ngModel)]="temperatura" formControlName="temperatura">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Ritmo Cardiaco" required [(ngModel)]="ritmo" formControlName="ritmo">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Pulso" required [(ngModel)]="pulso" formControlName="pulso">
  </mat-form-field>
  
  <button mat-raised-button color="primary" type="submit" [disabled]="espForm.invalid">
    <mat-icon>done</mat-icon>
    <span>Aceptar</span>
  </button>
  <button mat-raised-button color="accent" routerLink='/signos' type="button">
    <mat-icon>close</mat-icon>
    <span>Cancelar</span>
  </button>
  <button mat-button color="primary" (click)="openDialog(row)" >Nuevo Paciente</button>
</form>
  
        
    
  

<br/>